body{
    height: 100vh;
    padding: 2em;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


form{
    text-align: center;
}

input{
    height: 2em;
    width: 65%;
    padding: 6px;
    border: 1;
    border: none;
    border-bottom: 1px solid lightslategray;
    outline: none;
    border-radius: 2px;
}

.main{
    margin-top: 5em;
    background-color: #ffffffa3;
    border-radius: 5px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 2em;
}