body{
    height: 100vh;
    padding: 0;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}

*{
    font-family: 'Fira Sans', sans-serif;
}


.form{
    text-align: center;
    padding:2em;
}

input{
    height: 2em;
    width: 65%;
    padding: 6px;
    border: 1;
    border: none;
    outline: none;
    background-color:#ffffff38;  
    color: white;
}
input::placeholder{
    color:white;
}

input:focus{
    border-bottom: 1.5px solid white;
}

.weather-info{
    height: 175px;
    width:57em;
    background-color: #ffffff38;
    margin-top:10em;
    margin-left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}
.temperature{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
.icon-and-location{
    display: flex;
    margin-left:2em;
}
h1,h2,p,h4{
    color:white;
}

.city{
margin-top:40px;
}

.degree{
    font-size:3em;
    margin-bottom: 0.5em;
} 
hr{
    margin:4em;
} 

.weather-description{
    margin-top: 0;
}
p{
    font-size: x-large;
}

.weather-info div{
    margin-left:5em;
    margin-right:5em;   
}

/* .weather-description{
    margin-bottom: 0px;
} */
/* 
.main{
    margin-top: 5em;
    background-color: #ffffffa3;
    border-radius: 5px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 2em;
} */